{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 0.2%, not dead, not op_mini all"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components"
  ]
}
