html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 10px;
  background-color: #fffad6;
  font-size: 16px;
  line-height: normal;
  font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 767px) {
  body {
    padding: 20px;
    font-size: 18px;
  }
}

* {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  text-transform: capitalize;
}

h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
@media only screen and (min-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  line-height: 28px;
}
@media only screen and (min-width: 767px) {
  p {
    line-height: 32px;
  }
}

img {
  width: 100%;
}

#app {
  background-color: #fff;
}
@media (min-width: 768px) {
  #app {
    display: flex;
    height: 100%;
    height: auto;
    flex-direction: column;
    align-items: stretch;
  }
}

#app > * {
  flex: 1 0 auto;
}

#app > :first-child,
#app > :last-child {
  flex: 0 0 auto;
}
